# JVM crash related
core.*
hs_err_pid*

# Gradle
!gradle-wrapper.jar
.gradle/
build/
*/build/

# Eclipse stuff
.classpath
.project
.settings/

# VSCode stuff
.vscode/

# netbeans
nbproject/
nbactions.xml

# maven
build.xml
log/
target/
dependency-reduced-pom.xml

# vim
.*.sw[a-p]

# various other potential build files
build/
bin/
dist/
manifest.mf

# Mac filesystem dust
.DS_Store/
.DS_Store

# intellij
*.iml
*.ipr
*.iws
.idea/
out/

# Linux temp files
*~

# other stuff
run/

Lite-Server
Lite-MojangAPI
Lite-API
*.jar
